<problems>
<problem>
  <file>file://$PROJECT_DIR$/src/test/java/org/example/controller/HomeControllerTest.java</file>
  <line>18</line>
  <module>posting.test</module>
  <package>org.example.controller</package>
  <entry_point TYPE="field" FQNAME="org.example.controller.HomeControllerTest mockMvc" />
  <problem_class id="SpringJavaInjectionPointsAutowiringInspection" severity="ERROR" attribute_key="ERRORS_ATTRIBUTES">Incorrect autowiring in Spring bean components</problem_class>
  <description>Could not autowire. No beans of 'MockMvc' type found.</description>
  <highlighted_element>mockMvc</highlighted_element>
  <language>JAVA</language>
  <offset>20</offset>
  <length>7</length>
</problem>
</problems>